:root {
  --button-color: RebeccaPurple;
  --button-hover: DarkMagenta;
  --highscore: Grey;
}

.btn-vhs {
  color: var(--button-color);
}

.btn-vhs:hover {
  color: var(--button-hover);
}

#start-quiz {
  background-color: var(--button-color);
}

#start-quiz:hover {
  background-color: var(--button-hover);
}
